services:
  download-service:
    image: download-service:dev
    build:
      context: .
      dockerfile: Dockerfile
      target: base
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
    ports:
      - "8080:8080"
    volumes:
      - ./download:/app/download